<div class="row justify-content-center">
    <div class="col-4 pt-5">
        <div class="d-flex flex-column">
            <h5 id="title">Sign Up</h5>

            <form [formGroup]="signUpForm">
                <pre>{{signUpForm.value | json}}</pre>

                <pre>{{'Valid: '+ signUpForm.status | json}}</pre>
                <pre>{{'Password: '+ passwordDoesNotMatch | json}}</pre>

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" formControlName="email" class="form-control mb-3" id="email" placeholder="Enter email" />

                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control mb-3" id="password" placeholder="Create a password" />

                    <label for="second-password">Repeat the password</label>
                    <input type="password" formControlName="secondPassword" class="form-control mb-1" id="second-password" placeholder="Repeat the password" />
                    <small class="text-danger d-block" *ngIf="passwordDoesNotMatch">
                        Passwords do not match
                    </small>
                </div>

                <button type="submit" class="btn btn-danger mt-3" [disabled]="signUpForm.invalid || passwordDoesNotMatch">Create account</button>
            </form>
        </div>
    </div>
</div>